*{
    box-sizing: border-box;
    position: relative;

}
body{
    font-size:16px ;
    font-family: Arial, Helvetica, sans-serif;
}
#header-nav{
   background-color: dimgrey;
   border: 0;
   border-radius: 0;
}
  .navbar-style{
 box-shadow:  0 3px 7px #1b1a1a;
  }
  .icon-bar:hover{
      background: indigo;
  }
  li a{
      color: black;
  }
  .navbar-brand{
      padding-top: 25px;
  }

  .navbar-brand h1{
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      font-size: 1.15em;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 1px 1px 1px #1b1a1a;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 75%;
  }
  .navbar-header button.navbar-toggle,.navbar-header .icon-bar{
      border: 1px solid #1b1a1a;
  }
/*large*/
  @media(min-width: 992px){
    .col-lg-4 {
        width: 33.33%;
        float:left; 
    }
  }
/*medium*/
  

  @media(min-width: 768px) and (max-width:991px){
    .col-md-6, .col-md-12 {
        float: left;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-12 {
        width: 100%;
      }
    }
/*xtra small*/
@media(max-width:767px){

    .col-sm-12{
        width:100%;
        float:left;
    }
    .navbar-brand {
        padding: 10px;
        height: 80px;
    }

    
}
    #navbar-collapse{
        font-size: 1.12em;
    }
h2{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15em;
}

p{
        width: 95%;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        color:black;     
}
.row{
    width: 100%;
}
.section{
    position: relative;
    width: 100%;
    border: 1px solid black;
    background-color: #808880;
    margin:auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-top: 0%;
    margin-left: 30px;
}
.section_title{
    position: relative;
    width: 50%;
    height: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    padding-top: 2px;
    margin-top: -1px;
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 3px;
}
